* {
    background-color: rgb(27, 27, 27);
color:rgba(255, 255, 255, 0.882)
}
h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
    color: crimson;
    text-align:center;
    
}

h2:hover {
    background-color: rgb(41, 2, 10);

}

h3 {
    font-size: 1.2rem;
}

h4, li {
    font-size: 1rem;
    font-weight:200;
    color: rgba(222, 222, 222, 0.748);
}

a {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.882);
}

.form-control, .input-group-text, .form-select {
    background-color: rgb(27, 27, 27);
    color: rgba(222, 222, 222, 0.748);
    border:none;
}

#inputGroupFile01 {
    display:none;
}

.input-group .file{
    width: 12%;
    cursor:pointer;
}

.tripledots {
    position:relative;

}
 .dotcheckbox, .dotcheckboxlabel { 
    position:absolute;
    top:0;
    right:0;
    cursor:pointer;
}

.dotcheckbox {
    display:none;
}

.likes, .comments, #gifbutton, #votebutton, #planbutton, #locbutton {
    position:absolute;
    top:0;
    right:0;
    cursor:pointer;
    display:none;
}

.likeslabel, .commentslabel, #gifbuttonlabel, #votebuttonlabel, #planbuttonlabel, #locbuttonlabel {
    position:absolute;
    top:0;
    right:0;
    cursor:pointer;
}

.votingform {
    display:none;
}

#smileySearchfield {
    background-color: rgb(27, 27, 27);
    color:rgba(255, 255, 255, 0.882)

}

.dropdown-menu.smiley {
    background-color: rgb(27, 27, 27);
    color:rgba(255, 255, 255, 0.882);
    width: 300px;
    border:1px solid rgba(255, 255, 255, 0.882);
    border-radius: 7px;
}

.dropdown-menu.smiley #smileySearchfield {
    width: 100%;
    border:2px solid #0d6efd;

}

.dropdown-menu.smiley .smileyChooser:hover{
    cursor:pointer;
    background: #0d6efd;

}

#schedule {
    position:absolute;
    top:100px;
    right:500px;
    width:600px;
    display:none;
}

.hiddenArticle{
    display:none;
}