* {
    background-color: rgb(27, 27, 27);
color:rgba(255, 255, 255, 0.882)
}
h1 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4, li {
    font-size: 1rem;
    font-weight:200;
    color: rgba(222, 222, 222, 0.748);
}

a {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.882);
}

.form-control, .input-group-text {
    background-color: rgb(27, 27, 27);
    color: rgba(222, 222, 222, 0.748);
    border:none;
}

#inputGroupFile01 {
    display:none;
}

.input-group {
    width: 12%;
    cursor:pointer;
}

.tripledots {
    position:relative;

}
 .dotcheckbox, .dotcheckboxlabel { 
    position:absolute;
    top:0;
    right:0;
    cursor:pointer;
}

.dotcheckbox {
    display:none;
}

.likes, .comments {
    position:absolute;
    top:0;
    right:0;
    cursor:pointer;
    display:none;
}

.likeslabel, .commentslabel {
    position:absolute;
    top:0;
    right:0;
    cursor:pointer;
}
